<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.yaojian.mapper.CoachMapper">

	<resultMap id="resourceResultMap" type="com.yaojian.model.Coach">
		<id column="id" property="id" />
		<result column="coachname" property="coachname" />
		<result column="coachcardnumber" property="coachcardnumber" />
		<result column="coachcardimage" property="coachcardimage" />
		<result column="coachidcardnumber" property="coachidcardnumber" />
		<result column="coachidcardimage" property="coachidcardimage" />
		<result column="coachdesc" property="coachdesc" />
		<result column="coachdate" property="coachdate" />
		<result column="isreview" property="isreview" />
		<result column="reviewdesc" property="reviewdesc" />
		<result column="userid" property="userid" />
		<result column="coachiddrivercarno" property="coachiddrivercarno" />
		<result column="coachiddrviercarimg" property="coachiddrviercarimg" />
		<collection property="carlist" ofType="com.yaojian.model.Car">
			<id column="car_id" property="car_id" />
			<result column="platenumber" property="platenumber" />
			<result column="cartype" property="cartype" />
			<result column="carimage" property="carimage" />
			<result column="createdate" property="createdate" />
		</collection>
		<collection property="fieldlist" ofType="com.yaojian.model.Field">
			<id column="field_id" property="field_id" />
			<result column="fieldname" property="fieldname" />
			<result column="fieldphoto" property="fieldphoto" />
			<result column="fieldaddress" property="fieldaddress" />
			<result column="createdate" property="createdate" />
		</collection>
	</resultMap>

	<insert id="save" parameterType="com.yaojian.model.Coach">
		insert into
		t_coach_info(coachname,coachcardnumber,coachcardimage,coachidcardnumber,coachidcardimage,coachdesc,coachdate,isreview,reviewdesc,userid,coachiddrivercarno,coachiddrviercarimg)
		values(#{coachname},#{coachcardnumber},#{coachcardimage},#{coachidcardnumber},#{coachidcardimage},#{coachdesc},#{coachdate},#{isreview},#{reviewdesc},#{userid},#{coachiddrivercarno},#{coachiddrviercarimg});
	</insert>
	<insert id="saveCoachCar" parameterType="com.yaojian.model.CoachCarLink">
		insert into
		t_user_car_temp(userid,carid,createdate)
		values(#{coach.userid},#{car.carid},#{createdate});
	</insert>

	<update id="update" parameterType="com.yaojian.model.Coach">
		update t_coach_info set
		coachname=#{coachname},
		coachcardnumber=#{coachcardnumber},
		coachcardimage=#{coachcardnumber},
		coachidcardnumber=#{coachidcardnumber},
		coachidcardimage=#{coachidcardimage},
		coachdesc=#{coachdesc},
		coachdate=#{coachdate},
		isreview=#{isreview},
		reviewdesc=#{reviewdesc},
		userid=#{userid},coachiddrivercarno=#{coachiddrivercarno},coachiddrviercarimg=#{coachiddrviercarimg}
		where id=#{id}
	</update>

	<delete id="delete" parameterType="int">
		delete from t_coach_info where
		id=#{id}
	</delete>

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="findById" parameterType="int" resultType="com.yaojian.model.Coach">
		select
		id,coachname,coachcardnumber,coachcardimage,coachidcardnumber,coachidcardimage,coachdesc,coachdate,isreview,reviewdesc,userid,coachiddrivercarno,coachiddrviercarimg
		from t_coach_info where
		id=#{id};
	</select>

	<select id="findAll" resultMap="resourceResultMap">
		select
		id,coachname,coachcardnumber,coachcardimage,coachidcardnumber,coachidcardimage,coachdesc,coachdate,isreview,reviewdesc,userid,coachiddrivercarno,coachiddrviercarimg
		from t_coach_info;
	</select>

	<select id="findCoachCarfield" parameterType="int" resultMap="resourceResultMap">
		SELECT
		tci.id,tci.coachname,tci.coachcardnumber,tci.coachcardimage,tci.coachdesc,tci.coachdate,tci.isreview,tci.reviewdesc,tci.userid,tci.coachiddrivercarno,tci.coachiddrviercarimg,
		tcai.car_id,tcai.platenumber,tcai.cartype,tcai.carimage,tcai.createdate,
		tfii.field_id,tfii.fieldphoto,tfii.fieldname,tfii.fieldaddress,tfii.createdate
		FROM t_coach_info tci
		LEFT JOIN t_user_car_temp tuct ON tci.id=tuct.userid
		LEFT JOIN t_car_info tcai ON tcai.car_id=tuct.carid 
		LEFT JOIN t_user_field_temp tuft ON tuft.userid=tci.id 
		LEFT JOIN t_field_info tfii ON tuft.fieldid=tfii.field_id WHERE tci.id=#{id};
	</select>
	
	<insert id="insertCarRelativity" parameterType="com.yaojian.model.CoachCarLink" >
	     insert into t_user_car_temp(userid,carid)  
         values(#{coach.id},#{car.car_id});  
	</insert>
	
	<insert id="insertFieldRelativity" parameterType="com.yaojian.model.CoachFieldLink" >
	     insert into t_user_field_temp(userid,fieldid)  
         values(#{coach.id},#{field.field_id});  
	</insert>
	
	<select id="findByUserId" parameterType="int" resultType="com.yaojian.model.Coach">
		select
		id,coachname,coachcardnumber,coachcardimage,coachidcardnumber,coachidcardimage,coachdesc,coachdate,isreview,reviewdesc,userid,coachiddrivercarno,coachiddrviercarimg
		from t_coach_info WHERE
		userid=#{userid};
	</select>
</mapper>