<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.yaojian.mapper.FieldMapper">
	<resultMap id="resourceResultMap" type="com.yaojian.model.Field">
		<id column="field_id" property="field_id" />
		<result column="fieldname" property="fieldname" />
		<result column="fieldphoto" property="fieldphoto" />
		<result column="fieldaddress" property="fieldaddress" />
		<result column="createdate" property="createdate" />
	</resultMap>

	<resultMap id="coachMap" type="com.yaojian.model.Field"
		extends="resourceResultMap">
		<collection property="coachList" ofType="com.yaojian.model.Coach">
			<id column="id" property="id" />
			<result column="coachname" property="coachname" />
			<result column="coachcardnumber" property="coachcardnumber" />
			<result column="coachcardimage" property="coachcardimage" />
			<result column="coachidcardnumber" property="coachidcardnumber" />
			<result column="coachidcardimage" property="coachidcardimage" />
			<result column="coachdesc" property="coachdesc" />
			<result column="coachdate" property="coachdate" />
			<result column="isreview" property="isreview" />
			<result column="reviewdesc" property="reviewdesc" />
			<result column="userid" property="userid" />
			<result column="coachiddrivercarno" property="coachiddrivercarno" />
			<result column="coachiddrviercarimg" property="coachiddrviercarimg" />
		</collection>
	</resultMap>
	<insert id="save" parameterType="Field">
		insert into
		t_field_info(fieldname,fieldphoto,fieldaddress,createdate)
		values(#{fieldname},#{fieldphoto},#{fieldaddress},#{createdate})
	</insert>

	<update id="update" parameterType="Field">
		update t_field_info set
		field_id=#{field_id},fieldname=#{fieldname},fieldphoto=#{fieldphoto},fieldaddress=#{fieldaddress},createdate=#{createdate}
		where field_id=#{field_id}
	</update>

	<delete id="delete" parameterType="int">
		delete from t_field_info where
		field_id=#{field_id}
	</delete>

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="findById" parameterType="int" resultType="Field">
		select
		field_id,fieldname,fieldphoto,fieldaddress,createdate
		from t_field_info where
		field_id=#{field_id};
	</select>
	
	<select id="findFieldAndCoach" parameterType="int" resultMap="coachMap">
		SELECT
		tci.id,tci.coachname,tci.coachcardnumber,tci.coachcardimage,tci.coachdesc,tci.coachdate,tci.isreview,tci.reviewdesc,tci.userid,tci.coachiddrivercarno,tci.coachiddrviercarimg,
		tfii.field_id,tfii.fieldphoto,tfii.fieldname,tfii.fieldaddress,tfii.createdate
		FROM t_field_info tfii
		LEFT JOIN t_user_field_temp tuft ON tuft.fieldid=tfii.field_id
		LEFT JOIN t_coach_info tci ON  tuft.userid=tci.id  WHERE tfii.field_id=#{id};
	</select>

	<select id="findAll" resultType="Field">
		select
		field_id,fieldname,fieldphoto,fieldaddress,createdate
		from t_field_info;
	</select>

</mapper>