<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：必须与对应的接口全类名一致 id:必须与对应接口的某个对应的方法名一致 -->
<mapper namespace="com.yaojian.mapper.UserMapper">
    
    <resultMap id="resourceResultMap" type="com.yaojian.model.User">
		<result column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="email" property="email" />
		<result column="updatedate" property="updatedate" />
		<result column="usertype" property="usertype" />
		<result column="token" property="token" />
		<result column="headimageurl" property="headimageurl" />
		<result column="nickname" property="nickname" />
		<result column="bloodtype" property="bloodtype" />
		<result column="birthday" property="birthday" />
		<result column="hobby" property="hobby" />
		<result column="address" property="address" />
		<result column="sex" property="sex" />
	</resultMap>

	<insert id="save" parameterType="com.yaojian.model.User">
		insert into
		t_user_info(username,password,email,updatedate,usertype,token,headimageurl,nickname,bloodtype,birthday,hobby,address,sex)
		values(#{username},#{password},#{email},#{updatedate},#{usertype},#{token},#{headimageurl},#{nickname},#{bloodtype},
		#{birthday},#{hobby},#{address},#{sex});
	</insert>

	<update id="update" parameterType="com.yaojian.model.User">
		update t_user_info set
		id=#{id},username=#{username},password=#{password},email=#{email},updatedate=#{updatedate},usertype=#{usertype},token=#{token},
		headimageurl=#{headimageurl},nickname=#{nickname},bloodtype=#{bloodtype},
		birthday=#{birthday},hobby=#{hobby},address=#{address},sex=#{sex}
		where id=#{id}
	</update>

	<delete id="delete" parameterType="int">
		delete from t_user_info where
		id=#{id}
	</delete>

	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
	<select id="findById" parameterType="int" resultType="com.yaojian.model.User">
		select
		id,username,password,email,updatedate,usertype,token,headimageurl,nickname,bloodtype,birthday,hobby,address,sex
		from t_user_info where
		id=#{id};
	</select>

	<select id="findAll" resultType="com.yaojian.model.User">
		select
		id,username,password,email,updatedate,usertype,token,headimageurl,nickname,bloodtype,birthday,hobby,address,sex
		from t_user_info;
	</select>
	
	<select id="findByUser" parameterType="User" resultType="com.yaojian.model.User">
		select
		id,username,password,email,updatedate,usertype,token,headimageurl,nickname,bloodtype,birthday,hobby,address,sex
		from t_user_info WHERE username=#{username} AND password=#{password};
	</select>
	<select id="findByToken" parameterType="String" resultType="com.yaojian.model.User">
		select
		id,username,password,email,updatedate,usertype,token,headimageurl,nickname,bloodtype,birthday,hobby,address,sex
		from t_user_info WHERE token=#{token};
	</select>
</mapper>
