<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<typeAlias alias="User" type="com.yaojian.model.User" />
		<typeAlias alias="Field" type="com.yaojian.model.Field" />
		<typeAlias alias="Car" type="com.yaojian.mapper.CarMapper" />
		<typeAlias alias="Coach" type="com.yaojian.mapper.CoachMapper" />
		<typeAlias alias="Student" type="com.yaojian.mapper.StudentMapper" />
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<!--
		说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml
	-->
	<mappers>
		<mapper resource="com/yaojian/mapper/userMapper.xml" />
		<mapper resource="com/yaojian/mapper/fieldMapper.xml" />
		<mapper resource="com/yaojian/mapper/coachMapper.xml" />
		<mapper resource="com/yaojian/mapper/carMapper.xml" />
		<mapper resource="com/yaojian/mapper/studentMapper.xml" />
	</mappers>

</configuration>  